{% extends 'model-page.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<div class="redenc mb-3 d-flex align-items-center">
  <img src="{% static 'images/nc_bw.png' %}" alt="Imagem" style="width: 100px; height: auto; margin-right: 10px;">
  <div class="mx-auto text-center">
    <h1 class="mb-0">RANKING DE MATRÍCULAS</h1>
    <!-- Outro conteúdo aqui, se necessário -->
  </div>
</div>







<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center w-10 bg-secondary align-middle">POSIÇÃO</th>
      <th class="text-right bg-secondary align-middle">CONSULTOR(A)</th>
      <th class="text-center w-15 bg-secondary align-middle">Matrículas</th>
      <th class="text-center w-15 bg-secondary align-middle">Pontos</th>
      <th class="text-center w-15 bg-danger align-middle">Dias Sem Matrícula</th>
      <th class="text-center w-15 bg-secondary align-middle">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for item in contagem_matriculas %}
      <tr>
        <td class="text-center w-10  align-middle">
          {% if forloop.counter == 1 %}
            <img src="{% static 'images/trofeu1.png' %}" alt="1"  style="width: 40px;">
          {% elif forloop.counter == 2 %}
            <img src="{% static 'images/trofeu2.png' %}" alt=" 2" style="width: 35px;">
          {% elif forloop.counter == 3 %}
            <img src="{% static 'images/trofeu3.png' %}" alt=" 3" style="width: 35px;">
          {% else %}
            {{ forloop.counter }}
          {% endif %}
        </td>
        <td class="align-middle">{{ item.usuario }}</td>
        <td class="text-center align-middle">{{ item.contagem }}</td>
        <td class="text-center align-middle">{{ item.soma_pontos }}</td>
        <td class="text-center align-middle">{% if item.dias_sem_matricula is not None %}{{ item.dias_sem_matricula }}{% else %}Nunca{% endif %}</td>
        <td class="text-center align-middle" >
          {% if item.dias_sem_matricula is not None %}
            {% if item.dias_sem_matricula <= 1 %}
              <span class="bolinha verde"></span>
            {% elif item.dias_sem_matricula <= 3 %}
              <span class="bolinha amarelo"></span>
            {% else %}
              <span class="bolinha vermelho"></span>
            {% endif %}
          {% else %}
            <span class="bolinha vermelho"></span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>











{% endblock %}