{% extends 'model-page.html'%}

{% block content %}
<h1>CURSOS</h1>
<a href="{% url 'matriculas:cursos_new' %}"
<button type="button" class="btn btn-success" style="float: right; margin-bottom: 10px;">Novo Curso</button>
</a>

<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">Nome</th>
<!--           <th scope="col">Data Criação</th>
          <th scope="col">Data Atualização</th> -->
          <th scope="col">Tipo</th>
          <th scope="col">Ativo</th>
          <th scope="col">EDITAR</th>
          <th scope="col">EXCLUIR</th>
        </tr>
      </thead>
      <tbody>
        {% for cad_curso in object_list %}
          <tr>
            <td>{{cad_curso.nome}}</td>
<!--             <td>{{cad_curso.get_data_create_curso}}</td>
            <td>{{cad_curso.get_data_update_curso}}</td> -->
            <td>{{cad_curso.tipo_curso}}</td>
            <td>{{cad_curso.active}}</td>


            <td><a href = "{{ cad_curso.get_absolute_url }}"><button type="button" class="btn btn-primary">Editar</button></td>
              <form method="POST" action="{{ cad_curso.get_delete_url }}">{% csrf_token %}
                <td><button type="submit" class="btn btn-danger">Excluir</button></td>
              </form>
          </tr>
        {% endfor %}
      </tbody>
    
  </table>


  <ul class="pagination">
    {%if  page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
  
    {% for object in page_obj.paginator.page_range %}
      <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
  
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page= {{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
    </ul>
  

{% endblock %}