<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro de Cursos</title>
    <script>
        // Função para enviar automaticamente o formulário quando o tipo de curso é alterado
        function onChangeTipoCurso() {
            document.getElementById("filtroForm").submit();
        }
    </script>
</head>
<body>

<form method="post" action="{% url 'matriculas:filtrar_cursos' %}" id="filtroForm">
    {% csrf_token %}
    
    <label for="tipoCurso">Selecione o Tipo de Curso:</label>
    <select name="tipoCurso" id="tipoCurso" onchange="onChangeTipoCurso()">
        <option value="" selected disabled>Escolha um tipo de curso</option>
        {% for curso in tipo_curso %}
            <option value="{{ curso.id }}">{{ curso.nome }}</option>
        {% endfor %}
    </select>

    <label for="curso">Selecione o Curso:</label>
    <select name="curso" id="curso">
        <option value="" selected disabled>Escolha um curso</option>
        {% for curso in cursos %}
            <option value="{{ curso.id }}">{{ curso.nome }}</option>
        {% endfor %}
    </select>

    <!-- Removi o botão "Filtrar" -->

</form>

<!-- Exibir resultados ou outras informações conforme necessário -->
<!-- {% for curso in cursos %}
    <p>{{ curso.nome }} - {{ curso.descricao }}</p>
{% endfor %} -->

</body>
</html>


