{% extends 'model-page.html'%}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<div class="redenc mb-3 d-flex align-items-center justify-content-between">
    <div>
      <img src="{% static 'images/nc_bw.png' %}" alt="Imagem" style="width: 100px; height: auto; margin-right: 10px;">
    </div>
    <div>
      <h1 class="mb-0">MATRÍCULAS CONSULTOR x CAMPANHA</h1>
    </div>
    <div>
        <form method="get" action="{% url 'matriculas:relatorio_campanha' %}">
    
            <!-- FORMULARIO PARA ENVIO DE PROCESSO -->
            <div class="form-group d-flex mx-auto justify-content-center">
                <label for="filtro_processo_ano"></label>
                <select class="form-select" name="filtro_campanha" id="filtro_campanha">
                    <option value="">-- Selecione Campanha--</option>
                    {% for campanha in campanhas_disponiveis %}
                        <option value="{{ campanha.id }}" {% if campanha.id|safe == filtro_campanha %}selected{% endif %}>
                            {{ campanha.nome }} - {{ campanha.get_data_inicio_camp }} a {{ campanha.get_data_fim_camp }}
                        </option>
                    {% endfor %}
                </select>
                
            
                <button type="submit" class="btn btn-primary ms-3">Filtrar</button>
            </div>
        </form>
    </div> 
</div>


<!-- Tabela com total de matrículas por usuário -->
{% if exibir_resultados %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-start">CONSULTOR(A)</th>
            {% for mes in meses_entre_datas %}
                <th class="text-center" id="total-{{ forloop.counter }}">{{ mes|date:"F" }}</th>
            {% endfor %}
            <th class="text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario_info in total_matriculas_por_usuario %}
            <tr>
                <td class="text-start">{{ usuario_info.usuario.get_full_name }}</td>
                {% for mes, total_mes in usuario_info.total_matriculas_por_mes.items %}
                    <td class="text-center">{{ total_mes }}</td>
                {% endfor %}
                <td class="text-center">{{ usuario_info.total_matriculas }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<script> 
    document.addEventListener('DOMContentLoaded', function () {
        // Mapeamento dos nomes dos meses em inglês para português
        var mesesTraducao = {
            'January': 'JAN',
            'February': 'FEV',
            'March': 'MAR',
            'April': 'ABR',
            'May': 'MAI',
            'June': 'JUN',
            'July': 'JUL',
            'August': 'AGO',
            'September': 'SET',
            'October': 'OUT',
            'November': 'NOV',
            'December': 'DEZ'
        };

        // Selecione todas as células de cabeçalho que começam com "Total"
        var thTotalMeses = document.querySelectorAll('th[id^="total-"]');

        // Itere sobre as células de cabeçalho e substitua o texto
        thTotalMeses.forEach(function (th) {
            // Use o texto da célula como chave para obter a tradução
            var nomeMesIngles = th.textContent.trim().replace('Total ', '');
            th.textContent = '' + mesesTraducao[nomeMesIngles];
        });
    });
</script>


{% endblock %}

