{% extends 'model-page.html'%}
{% load static %}
{% load custom_filters %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<h1>SPACEPOINT</h1>
  

<!-- relatorio_spacepoint.html -->

<form method="get" action="{% url 'matriculas:relatorio_spacepoint' %}">
    {{ processo_form.as_p }}
    <button type="submit">Filtrar</button>
  </form>
  
  
  <table>
    <thead>
      <tr>
        <th>Usuário</th>
        {% for mes in meses_unicos %}
          <th>{{ mes }}</th>
        {% endfor %}
        <th>Total Geral</th>
      </tr>
    </thead>
    <tbody>
      {% for linha in tabela_dados %}
        <tr>
          {% for valor in linha %}
            <td>{{ valor }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock %}