{% extends 'model-page.html'%}

{% block content %}
<h1>Consultores</h1>

<a href="{% url 'matriculas:user_new' %}"
    <button type="button" class="btn btn-success" style="float: right; margin-bottom: 10px">Novo Consultor</button>
  </a>

  <table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>usuário</th>
            <th>Email</th>
            <th>Polo</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.userprofile %}
                        {{ user.userprofile.polo.nome }}
                    {% else %}
                        Sem polo vinculado
                    {% endif %}
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>



  <ul class="pagination">
    {%if  page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
  
    {% for object in page_obj.paginator.page_range %}
      <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
  
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page= {{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
    </ul>
  

{% endblock %}