{% load static %}
<nav class="navbar navbar-expand-sm custom-navbar-bg navbar-dark mr-2">

    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link">
            <span class="navbar-text"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_rank' %}">
                <img src="{% static 'images/virtua_white.svg' %}" alt="Logo" class="img-fluid" style="width: 40px; height: auto;">  
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matriculas:matriculas_list' %}">Matrículas</a>
        </li>
        {% if request.user.is_authenticated and request.user.userprofile.cargo == 'A' or request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'matriculas:user_list' %}">Usuários</a>
        {% endif %}
        </li>
        {% if request.user.is_authenticated and request.user.userprofile.cargo == 'A' or request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matriculas:polo_list' %}">Polos</a>
        {% endif %}
        </li>
        {% if request.user.is_authenticated and request.user.userprofile.cargo == 'A' or request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matriculas:curso_list' %}">Cursos</a>
            {% endif %}
        </li>
        {% if request.user.is_authenticated and request.user.userprofile.cargo == 'A' or request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matriculas:tipo_curso_list' %}">Tipo de Curso</a>
        {% endif %}
        </li>
        {% if request.user.is_authenticated and request.user.userprofile.cargo == 'A' or request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matriculas:campanha_list' %}">Campanhas</a>
        {% endif %}
        </li>
        {% if request.user.is_authenticated and request.user.userprofile.cargo == 'A' or request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matriculas:processo_list' %}">Processos</a>
        {% endif %}
        </li>
        {% if request.user.is_authenticated and request.user.userprofile.cargo == 'A' or request.user.is_superuser %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Relatórios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'matriculas:relatorio_dia' %}">Movimento do Dia</a></li>
              <li><a class="dropdown-item" href="{% url 'matriculas:relatorio_financeiro' %}">Financeiro</a></li>
              <li><a class="dropdown-item" href="{% url 'matriculas:matriculas_full_list' %}">Matrículas</a></li>
              <li><a class="dropdown-item" href="{% url 'matriculas:relatorio_spacepoint' %}">Mensal</a></li>
            </ul>
        {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link">
            <span class="navbar-text"></span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link highlight-link" href="{%url 'matriculas:matriculas_new'%}">Nova Matrícula</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto ml-2">
        <li class="nav-item">
            <a class="nav-link">
        {% if request.user.is_authenticated %}
            <span class="navbar-text">Olá,  {{ request.user.first_name }}</span>
        {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
            <span class="navbar-text"></span>
            </a>
        </li>
        
    </ul>

</nav>


<style>
    .custom-navbar-bg {
        background-color: #001f3f; /* Substitua pela cor desejada */
    }

    .highlight-link {
        background-color: #28a745; /* Substitua pela cor desejada (verde no exemplo) */
        color: #fff; /* Cor do texto para garantir legibilidade */
        font-weight: bold; /* Pode ser ajustado conforme necessário */
        border-radius: 10px; /* Valor de raio para arredondar as bordas */
        padding: 8px 12px; /* Ajuste o preenchimento conforme necessário */
    }
</style>