body {
    background: linear-gradient(to right, #007BFF, #6C757D);
    /* Substitua #007BFF e #6C757D pelos códigos de cor desejados para o degradê */
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

