.custom-bg {
    background: linear-gradient(to bottom, #3498db, #1a5276);
}

.custom-form-container {
    width: 50%; /* Ajuste a largura conforme necessário */
    margin: auto; /* Centralize horizontalmente */
    padding: 20px; /* Adicione algum preenchimento interno */
}