.bolinha {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .verde {
    background-color: green;
  }

  .amarelo {
    background-color: yellow;
  }

  .vermelho {
    background-color: red;
  }

  .nunca {
    background-color: gray;
  }

  .status-col {
    width: fit-content;
  }

  .redenc {
    background-color: #032244; /* Cor de fundo azul */
    color: #FFFFFF; /* Cor do texto branca */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Adiciona algum preenchimento para melhor aparência */
}

  .tabela-numeracao th,
  .tabela-numeracao td {
    width: 50px; /* Ajuste a largura conforme necessário */
}

  .wcolum {
    width: 10px;
  }


  .w-10 {
    width: 3% !important; /* ou ajuste conforme necessário */
    text-align: center;
  }

  .w-11 {
    width: 3% !important; /* ou ajuste conforme necessário */
    text-align: center;
    font-size: 14px;
  }
  .w-15 {
    width: 10% !important; /* ou ajuste conforme necessário */
    text-align: center;
  }


  .cabtabela {
    background-color: #545557; /* Cor de fundo azul */
    color: #FFFFFF; /* Cor do texto branca */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Adiciona algum preenchimento para melhor aparência */
}

/* Classe personalizada para inclinar o texto em 90 graus */
  .rotate-text {
    transform: rotate(-90deg);
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  }

/* Classe personalizada para tamanho de coluna personalizado */
  .col-custom {
    width: 5px; /* Defina o tamanho desejado em pixels ou outra unidade */
    align-items: flex-end;
  }

  .grafico {
  position: fixed;
  width: 20px;
  height: 20px;
}
